@import url('https://fonts.googleapis.com/css?family=PT+Mono:400');


.dashboardbsearchnoresults {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 718px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(243, 245, 247, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.dashboardbsearchnoresults .top {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 38px;
  width               : 840px;
  position            : absolute;
  margin              : 0;
  left                : 171px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .preferences {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 710px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dashboardbsearchnoresults .top .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 32px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .group1 .cta1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .group1 .cta1 .rectangle6copy {
  background-color    : rgba(0, 117, 255, 1.0);
  top                 : 0px;
  height              : 32px;
  width               : 95px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .group1 .cta1 .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .top .group1 .cta11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .group1 .cta11 .rectangle6copy {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 32px;
  box-sizing          : border-box;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 117, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .group1 .cta11 .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 117, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .top .help {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 810px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dashboardbsearchnoresults .top .search {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .search .rectangle9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 356px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .search .ksw {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dashboardbsearchnoresults .top .search .icsearchblack24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .search .icsearchblack24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .top .search .icsearchblack24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventry {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventry .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventry .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .naventry .icdashboardblack24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventry .icdashboardblack24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventry .icdashboardblack24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 288px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .naventrycopy .icaccountbalancewalletblack24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy .icaccountbalancewalletblack24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy .icaccountbalancewalletblack24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 18px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 320px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy2 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy2 .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .naventrycopy2 .iclockblack24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy2 .iclockblack24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy2 .iclockblack24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 21px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 112px;
  height              : 31px;
  width               : 102px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .group2 .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .group2 .metamaskcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .group2 .a16d4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 11.2px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.dashboardbsearchnoresults .accounts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 87px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.5px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.dashboardbsearchnoresults .rigoblock {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 21.9px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 25.9px;
}
.dashboardbsearchnoresults .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : 31px;
  width               : 92px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .group .parity {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .group .a2d3w {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 11.2px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 13.0px;
}
.dashboardbsearchnoresults .group .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .rectangle10 {
  background-color    : rgba(218, 218, 218, 1.0);
  top                 : 223px;
  height              : 1px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .rectangle10copy {
  background-color    : rgba(218, 218, 218, 1.0);
  top                 : 384px;
  height              : 1px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .searchresults {
  background-color    : rgba(255,255,255,0.0);
  top                 : 56px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 27.3px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.dashboardbsearchnoresults .u0ca0u0ca0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 128px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KannadaSangamMN", Helvetica, Arial, serif;
  font-size           : 27.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : right;
  line-height         : 27.0px;
}
.dashboardbsearchnoresults .u0ca0u0ca0 .span1 {
  line-height         : 44.0px;
}
.dashboardbsearchnoresults .u0ca0u0ca0 .span2 {
  font-family         : "PT Mono", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  line-height         : 30.0px;
}
.dashboardbsearchnoresults .u0ca0u0ca0 .span3 {
  line-height         : 44.0px;
}
.dashboardbsearchnoresults .mmmu2026wehavenoresu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 174px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.dashboardbsearchnoresults .naventrycopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 417px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy4 .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy4 .dashboard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dashboardbsearchnoresults .naventrycopy4 .iclistblack24px {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy4 .iclistblack24px .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 10px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dashboardbsearchnoresults .naventrycopy4 .iclistblack24px .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}